#encounterPane {
    -fx-background-color: COLOR_BACKGROUND;
    -fx-padding: 3em;
    -fx-border-style: solid inside;
    -fx-border-color: COLOR_PRIMARY;
    -fx-border-width: 0.3em;
    -fx-border-radius: 0.3em;
    -fx-pref-width: 75em;
    -fx-min-width: 74em;
    -fx-max-width: 76em;
    -fx-pref-height: 52em;
    -fx-min-height: 51em;
    -fx-max-height: 53em;
}

.choices {
    -fx-background-color: transparent;
    -fx-border-style: solid inside;
    -fx-text-alignment: CENTER;
    -fx-border-radius: 0.1em;
    -fx-border-width: 0.1em;
    -fx-border-color: COLOR_PRIMARY;
    -fx-text-fill: COLOR_PRIMARY;
    -fx-font: 20pt "Quantico";
    -fx-min-width: 6em;
    -fx-pref-width: 7em;
    -fx-max-width: 8em;
}

.encounterText {
    -fx-font: 20pt "Quantico";
    -fx-text-fill: COLOR_PRIMARY;
    -fx-wrap-text: true;
}